<form class="form">
  <h2 class="form_search">¿Buscas un libro en concreto?</h2>
  <h3 class="form_find"></h3>
  <section class="form_display">
    <label class="form_filter" for="name"> Titulo </label>
    <input class="form_input" autocomplete="off" type="search" name="title" />
    <label class="form_filter" for="autor"> Autor </label>
    <select class="form_input" id="autorFilter">
      <option value="">Seleccione un autor</option>
      <option value="autor1">Autor 1</option>
      <option value="autor2">Autor 2</option>
    </select>
  </section>
  <button class="form_btn">Borrar</button>
</form>
