<form class="form">
  <h2 class="form_search">Find the perfect book for you little ones</h2>
  <h3 class="form_find"></h3>
  <section class="form_display">
    <label class="form_filter" for="name">Title</label>
    <input class="form_input" autocomplete="off" type="search" name="title" />
    <label class="form_filter" for="autor">Author</label>
    <select class="form_input" id="autorFilter">
      <option value="">Seleccione un autor</option>
      <option value="autor1">Author 1</option>
      <option value="autor2">Author 2</option>
    </select>
  </section>
  <button class="form_btn">Delete</button>
</form>
