@use './core/mixins';
@use './core/reset';
@use './layout/header';
@use './layout/form';
@use './layout/bookList';
@use './layout/footer';


.body, html {
    background-color: rgb(8, 32, 87);
}


main {
    color: rgb(245, 121, 245);
    text-align: center;
}



